# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
"venv 2"/
.env

# Streamlit runtime files
streamlit.log
streamlit.pid
nohup.out

# Jupyter Notebooks
.ipynb_checkpoints/

# Trained model artifacts
*.h5
*.keras
*.pkl

# OS
.DS_Store
Thumbs.db

# Data (Under 100MB, safe for GitHub)
# data/
# *.csv

# IDE
.vscode/
.idea/
